/* ################### RESPONSIVE THE CONTAINER MASTER ############################ */

@media (min-width: 576px) {
  .grid-container-autofit {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .grid-container-autofit {
    max-width: 720px;
  }
  .grid-container {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .grid-container-autofit {
    max-width: 960px;
  }
  .grid-container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .grid-container-autofit {
    max-width: 1140px;
  }
  .grid-container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .grid-container-autofit {
    max-width: 1320px;
  }
  .grid-container {
    max-width: 1320px;
  }
}
@media (min-width: 1600px) {
  .grid-container-autofit {
    max-width: 1534px;
  }
  .grid-container {
    max-width: 1534px;
  }
}

/* ####################### END RESPONSIVE ############################ */

@media screen and (min-width: 1400px) {

  .about-container .imgAbout img {
    object-position: 50% 80%;
  }
}
@media screen and (max-width: 914px) {

  .about-container .imgAbout img {
    aspect-ratio: 3/2;
  }
  .about-container {
    gap: 3.5rem;
  }
  .about-container .imgAbout picture {
    display: flex;
    justify-content: center;
  }
  .img-container .img-info-principal .img-base {
    transform: translateX(60px) !important;
  }
  .grid-container-autofit {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)) !important;
  }
  .subtitle-aboutsection {
    font-size: clamp(1rem, 2.5vw, 2.5rem);
  }
  .about-container .textAbout {
    .textp {
      font-size: clamp(0.8rem, 2vw, 1.5rem);
    }
    .imgcontainer-about img {
      width: 80%;
      height: 80%;
    }
  }
  .flot-conten h3,
  .flot-conten p,
  .flot-conten a {
    font-size: clamp(0.8rem, 2vw, 1.5rem);
  }
  .main-menu-rigth{
    .hamburguerbtn , .whatsapps{
      padding: 10px;
    }
  }
  .services-title{
    span, h3 , p{
      text-align: center;
    }
  }
}
@media screen and (max-width: 762px) {
  .footer-section .mini-section {
    grid-column: span 4 !important;
  }
}
@media screen and (max-width: 890px) {
  .carousel-container .wrapper-carousel .carousel-item {
    flex: 0 0 calc((100% - 2rem) / 2);
  }
  .button-menulateral {
    display: none;
  }
  .copyray .link a {
    padding: 0.5rem;
    font-size: clamp(0.8rem, 2vw, 1.125rem);
  }
}
@media screen and (max-width: 734px) {
  .container-menu .main-menu {
    gap: 14px !important;
  }
  .accordion li {
    h4 {
      font-size: clamp(0.9rem, 2vw, 1.5rem);
    }
  }
}
@media screen and (max-width: 715px) {
  .sub-header {
    place-items: center;
  }
  .beneficio-colum{
    grid-column: 1 / -1;
  }
  .beneficio-semi .buton-benefi{
    display: flex;
    justify-content: center;
    width: 45%;
  }
  .container-img-beneficio img{
    width: 50%;
    height: auto;
  }
  .container-img-beneficio{
    display: flex;
    justify-content: center;
  }
  .beneficio-semi .buton-benefi .btn-tag{
    width: 40%;
  }
  .beneficio-semi{
    align-items: center;
    justify-content: center;
  }
  .section-bebefitio{
    padding-top: 0 !important;
  }
  .beneficio-semi .buton-benefi .btn-tag{
    width: 100%;

  }
  .widget-whatsapp-call{
    display: none;
  }
  .sub-header-container {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }
  .sub-header .sub-header-container .sub-header-item {
    grid-template-columns: auto 1fr;
    justify-content: center;
  }
  .widget-whatsapp-call {
    position: absolute;
    text-align: center;
    right: 10px;
    bottom: 10px;
  }
  .main-header {
    position: relative;
  }
  .main-navegador {
    border-radius: 0;
    grid-template-columns: auto auto;
    transform: translateY(0) !important;
    transition: all 0.6s ease-in-out;
    place-content: space-between;
  }
  .main-menu {
    display: none !important;
  }
  .hamburguerbtn {
    display: block !important;
  }
}
@media screen and (max-width: 601px) {
  .about-section {
    padding: 1rem;
  }
  .wraper-section-flot {
    margin-bottom: 0;
    padding: 0;
  }
  .question-conten-text .items i {
    padding: 0.7rem;
  }
  .sif {
    padding-top: 0 !important;
  }
  .info-text {
    grid-column: span 13;
    padding: 0;
    box-shadow: 0 0 0 transparent;
  }
  .info-image {
    grid-column: span 13;
  }
  .img-container .img-info-principal .img-base {
    transform: translateX(0);
  }
  .frequently-Questions-section {
    padding: 0;
  }
  .carousel-container .wrapper-carousel .carousel-item {
    flex: 0 0 calc((100%) / 1);
  }
  .carousel-content .description-item {
    max-height: auto;
    opacity: 1;
    visibility: visible;
  }
  .footer-section .mini-section {
    grid-column: span 13;
  }
  .footer-section .mini-section2 {
    grid-column: span 13;
  }
  .footer-section .mini-section3 {
    grid-column: span 13;
  }
  .copyray {
    display: flex;
    flex-direction: column;
  }
  .copyray p {
    display: flex;
    font-size: clamp(3px, 3vw, 1.125rem);
    align-items: center;
    padding: 10px;
    text-align: center;
  }
  .textAbout .box-link {
    gap: 0;
  }
  .section-bebefitio{
    padding-bottom: 1.875rem !important;
  }
  .beneficio-semi{
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media screen and (max-width: 550px) {
  .footer-section .mini-section {
    grid-column: span 6 !important;
  }
  .about-container {
    padding: 0;
  }
  .items .text-card h4 {
    font-size: clamp(0.9rem, 2vw, 1.125rem);
  }
}
@media screen and (max-width: 527px) {

  .menulateral {
    width: 25rem;
  }
  
}
@media screen and (max-width: 430px) {
  .beneficio-semi{
    flex-direction: column;
  }
  .beneficio-semi .buton-benefi{
    width: 100%;
  }
  .container-img-beneficio img{
    width: 55%;
  }
}
@media screen and (max-width: 413px) {

  .menulateral {
    width: 18.75rem;
  }
}
@media screen and (max-width: 356px) {

  .main-navegador {
    padding: 0 0.3125rem 0 0;
  }
  .footer-section .mini-section {
    grid-column: span 13 !important;
  }
  .beneficio-semi{
    text-align: center;
  }
}