@media screen and (min-width: 1400px) {
  
  /* about section */
  
  .about-container .imgAbout img {
    object-position: 50% 80%;
  }
}

@media screen and (max-width: 914px){

  /* About section */

  .about-container .imgAbout img{
    aspect-ratio: 3/2;
  }
}

@media screen and (max-width: 714px){

  /* Sub Header */

  .sub-header{
    place-items: center;
  }
  .sub-header-container{
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }
  .sub-header .sub-header-container .sub-header-item {
    grid-template-columns: auto 1fr;
    justify-content: center;
  }
  .widget-whatsapp-call {
    position: absolute;
    text-align: center;
    right: 10px;
    bottom: 10px;
  }

  /* Main Header navbar */

  .main-header{
    position: relative;
  }
  .main-navegador{
    border-radius: 0;
    grid-template-columns: auto auto;
    transform: translateY(0) !important;
    transition: all 0.6s ease-in-out;
    place-content: space-between;
  }
  .main-menu{
    display: none !important;
  }
   .hamburguerbtn{
    display: block !important;
   }
}

@media screen and (max-width: 527px){
  
  /* Navbar */

  .menulateral{
    width: 25rem; 
  }
}

@media screen and (max-width: 413px){

  /* Navbar */

  .menulateral{
    width: 18.75rem; 
  }
}

@media screen and (max-width: 356px){

  /* Navbar */

  .main-navegador{
    padding: 0 .3125rem 0 0;

  }
}