* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 100%;
  background-color: rgb(247, 240, 240);
  font-family: 'Lora', serif;
}
:root {
  --black: black;
  --Black-transparent: rgba(0, 0, 0, 0.5);
  --white: aliceblue;
  --rojo: rgb(194, 12, 12);
  --rojofuerte: rgb(238, 9, 9);
  --green: #075b07;
  --green2: rgb(3, 143, 3);
  --blueoscuro: rgb(18, 18, 112);
  --navi: #213A58;
  --greentienr: #80EE98;
  --greenfuer:#46DFB1;
  --blueapagado: #15919B;
  --navebajo:#0C6578;
}
.grid-container-autofit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(287px, 1fr));
  padding: 5rem 10rem;
  width: 100%;
  gap: 20px;
  align-items: center;
  margin-left: auto;
  max-width: 1430px;
  margin-right: auto;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 5rem 10rem;
  width: 100%;
  gap: 20px;
  align-items: center;
  margin-left: auto;
  max-width: 1430px;
  margin-right: auto;
}

/* 1. Sub Header */

.sub-header {
  display: grid;
  grid-template-columns: 1fr auto;
  background: var(--navebajo);
  padding: 20px;
  position: relative;
}
.sub-header-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;

  .sub-header-item {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-content: center;
    color: var(--black);
    gap: 10px;
    background-color: transparent;

    i {
      color: var(--black);
      font-size: 1.5rem;
    }
    h6 {
      font-size: 1.2rem;
      color: var(--black);
      padding-bottom: 5px;
    }
    a {
      font-size: clamp(0.8rem, 1.5vw, 1rem);
      color: var(--black);
      text-decoration: none;
      display: inline-block;
      transition: all 0.6s ease-in-out;
    }
  }
}
.sub-header-item a:hover {
  color: var(--greentienr);
  transform: translateY(-5px);
}
.widget-whatsapp-call {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  justify-content: center;
  background: var(--green);
  padding: 10px;
  border-radius: 50%;
  transition: all 0.6s ease-in-out;

  a {
    color: var(--white);
  }
}
.widget-whatsapp-call:hover {
  background: var(--green2);
}

/* 2. Main Header */

.main-header {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  background: transparent;
  position: absolute;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
}
.main-navegador {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100%;
  max-width: 800px;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 0 31px;
  background: var(--navi);
  border-radius: 60px;
  transform: translateY(-11px);

  .logo img {
    width: 100px;
    max-width: 100px;
  }
}
.container-menu {
  display: grid;
  grid-template-columns: repeat(2, auto);
  place-items: end;
  align-items: center;

  .dropdown-item li {
    text-decoration: none;
    padding: 0.625rem 1.25rem;
    width: 100%;

    a {
      display: inline-block;
      transition: all 0.6s ease-in-out;
    }
  }
  .main-menu {
    display: grid;
    grid-template-columns: repeat(7, auto);
    gap: 20px;
    align-items: center;
    justify-content: center;
    transition: all 0.6s ease-in-out;
  }
}
.main-menu li,
a {
  list-style: none;
  text-decoration: none;
  position: relative;
  color: var(--greenfuer);
}
.main-menu-rigth {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 20px;

  .main-menu-rigth-item {
    display: grid;
    place-content: flex-end;
    place-items: flex-end;

    a {
      text-decoration: none;
    }
  }
  .call,
  .hamburguerbtn {
    padding: 15px;
    background: var(--blueoscuro);
    color: var(--greentienr);
  }
  .hamburguerbtn {
    border-radius: 50% !important;
    display: none;
  }
  .whatsapps {
    padding: 15px;
    background: var(--green);
    transition: all 0.6s ease-in-out;
    border-radius: 50%;
    color: var(--white);
  }
}
.main-menu-rigth-item .whatsapps:hover {
  background-color: var(--blueapagado);
  color: var(--black);
}
.main-menu > li > a:hover {
  color: var(--greentienr);
  font-weight: bold;
}
.main-menu li.active {
  padding: 4px;
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.3);
  border-radius: 7px;

  a {
    font-weight: bold;
    color: var(--greentienr);
  }
}
.main-menu li.active::after {
  content: "";
  background-color: var(--greentienr);
  width: 100%;
  bottom: 0;
  left: 0;
  height: 3px;
  position: absolute;
}
.dropdown-item {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 4px;
  gap: 6px;
  background: var(--navi);
  align-items: start;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.6s ease-in-out, visibility 0.6s ease-in-out,
    max-height 0.6s ease-in-out;
}
.dropdown:hover .dropdown-item {
  opacity: 1;
  visibility: visible;
  max-height: 500px;
}
.dropdown-item li:hover {
  background-color: var(--greenfuer);
}
.dropdown-item li:hover a {
  color: var(--navi);
  transform: translateX(10px);
}
.menulateral {
  position: fixed;
  top: 0;
  right: -500px;
  width: 500px;
  height: 100vh;
  background: var(--black);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  transition: right 0.3s ease;
  z-index: 9999;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.5);
}
.menulateral .close-btn {
  align-self: flex-start;
  background: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}
.menulateral img {
  width: 120px;
}
.menulateral .container-text {
  padding: 10px;
  text-align: center;

  p,
  h4 {
    text-align: start;
  }
}
.menulateral .menu-list {
  list-style: none;
  padding: 0;
  margin: 0.2rem 0 0 0;
  width: 100%;
}
.menulateral .menu-list li {
  margin: 1rem 0;
  text-align: start;
}
.menulateral .menu-list li h5 {
  color: var(--rojo);
}
.menulateral .menu-list li p {
  margin-left: 0.5rem;
  transition: transform 0.6s ease-in-out;

  a {
    font-size: 16px;
  }
}
.menulateral .menu-list li p:hover {
  transform: translate(10px, 0px);
}
.menulateral.show {
  right: 0;
}
.overlay-menulateral {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.746);
  z-index: 1000;
  transition: width 0.3s ease;
  overflow: hidden;
}
.overlay-menulateral.show {
  width: 100vw;
}

/* 3. Slider */

.slider-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    width: 50px;
    height: 50px;
    background: var(--Black-transparent);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    cursor: pointer;
  }
  .prev {
    left: 5px;
    transition: font-size 0.6s ease-in-out;
  }
  .prev:hover {
    background-color: var(--greentienr);
    font-size: 2rem;
    color: var(--black);
  }
  .next {
    right: 5px;
    transition: font-size 0.6s ease-in-out;
  }
  .next:hover {
    background-color: var(--greentienr);
    font-size: 2rem;
    color: var(--black);
  }
  .slider-dots {
    display: flex;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    gap: 10px;

    .slider-dot {
      width: 10px;
      height: 10px;
      background: var(--black);
      border-radius: 50%;
    }
  }
}
.slider-wraper {
  display: flex;
  /* Nota para mi el width es dinamico con javascript */
  height: 100%;
  transition: all 0.6s ease-in-out;
}
.slider-item {
  /* Nota para mi el width es dinamico con javascript */
  height: 100%;
}
.slider-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 4. About section */

.about-section{
  padding: 2.9375rem
}
.about-container .imgAbout {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  max-width: 467px;

  .imgAbout-1{
    width: 70%;
    height: auto;
    object-fit: cover;
    border-radius: 33px;
  }
  .imgAbout-2{
    position: absolute;
    width: 30%;
    height: auto;
    object-fit: cover;
    bottom: -45px;
    right: 57px;
    border-radius: 33px;
  }
  .imgAbout-3{
    position: absolute;
    width: 25%;
    height: auto;
    object-fit: cover;
    top: 43px;
    right: 87px;
    border-radius: 33px;
  }
}
.about-container .imgAbout::before{
  content: " ";
  width: 34%;
  transform: rotate(37deg);
  height: 71px;
  bottom: -9px;
  right: 136px;
  position: absolute;
  background-color: var(--navi);
  z-index: -10;
  border-radius: 16px;
}
.about-container .textAbout {
  display: grid;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.625rem;
  color: var(--black);
}
.textAbout h3 {
  display: flex;
  justify-content: start;
  gap: 10px;
}
.textAbout h4 img {
  width: 20px;
}
.subtitle-aboutsection{
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  text-transform: uppercase;
  font-weight: bold;
}
.textAbout .box-link {
  display: flex;
  justify-content: space-between;
  gap: 4.25rem;
  margin-top: 1.25rem;
}
.textAbout .box-link a {
  color: var(--navi);
  transition: all 0.6s ease-in-out;

  i {
    font-size: 1.625rem;
    transition: transform 0.6s ease-in-out;
  }
}
.description-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1rem;
  width: 100%;
}
.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.imgcontainer-about {
  width: 100%;
  max-width: 3.75rem;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.imgcontainer-about img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 50%;
}
.box-link a i:hover{
  color: var(--greentienr);
  transform: scale(1.2);
}
.btn-general{
  background-color: var(--navi);
  color: var(--white);
  font-weight: bold;
  border-radius: 30px;
  width: 100%;
  max-width: 6.25rem;
  text-align: center;
  padding: .625rem;
  margin-top: 1.3125rem;
}
.wraper-section-flot{
  display: grid;
  place-content: center;
  margin-bottom: -158px;
  z-index: 2;
  position: relative;
  padding: 1.5625rem;
}
.wraper-section-flot .container-wraper-flot{
  display: grid;
  position: relative;
  place-items: center;
  padding: 3rem;
  background-image: url(../img/home/fondowraper.jpg);
  background-size: cover;
  background-position: center center;
  border-radius: 1rem;
  max-width: 1000px;
  width: 90%;
  color: var(--white);
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  filter: brightness(0.9);
  transition: transform 0.8s ease-in-out;
}
.wraper-section-flot .container-wraper-flot::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #252222ba;
  border-radius: 1rem;
  transition: all 0.6s ease-in-out;
  z-index: -1;
  opacity: 0%;
}
.wraper-section-flot .container-wraper-flot:hover::before {
  opacity: 39%;
  z-index: 0;
}
.container-wraper-flot:hover{
  transform: scale(1.1);
}
.container-wraper-flot .flot-conten{
  display: grid;
  place-items: center;
  gap: 1.5rem;
  color: var(--white);
  font-weight: bold;
}
.flot-btn{
  position: relative;
}
.flot-btn::before{
    content: "";
    position: absolute;
    inset: unset;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 30px;
    border: 3px solid var(--black);
    top: -5px;
    left: 4px;
    z-index: -1;
}
.flot-conten h3,
.flot-conten p,
.flot-conten a {
  text-shadow: 1px 1px 0 var(--black);
}

/* 5. Info section */

.section-inf{
  background-image: url(../img/home/fondoceleste.jpg);
  filter: brightness(0.8);
  background-size: cover;
  background-position: center center;
  padding-top: 8rem;
  overflow: hidden;

  .sif{
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
}
.info-image {
  position: relative;  
  display: flex;
  grid-column: 7 / 12;
  justify-content: center;
  align-items: center;
}
.info-image img {
  max-width: 160%;
  margin-right: -20.00rem;
  height: auto;
}
.info-box {
  position: absolute;
  top: -1px;
  left: -4px;
  background: #d0021b;
  color: #fff;
  text-align: center;
  padding: 1rem;
  width: 123px;
  border-radius: 4px;
}
.info-image .shaper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;

  img{
    width: 169%;
    max-width: 169%;
    transform: translateY(-44px);
  }
}
.info-box .icon {
  font-size: 2rem;
  margin-bottom: 0.2rem;
}
.info-box .number {
  font-size: 1.5rem;
  font-weight: bold;
}
.info-text{
  padding: 2rem;
  grid-column: 1 / 7;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}
.info-text h4 {
  color: #d0021b;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.info-text h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.info-text ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.info-text li {
  margin-bottom: 1rem;
}
.info-text li strong {
  display: block;
  margin-bottom: 0.3rem;
}
.info-text p {
  color: #333;
  font-size: 0.95rem;
  line-height: 1.4;
}

/* 6. Frequently Questions section */

.frequently-Questions-section{
  background: hsla(270, 51%, 59%, 1);
  background: linear-gradient(181deg, hsla(196, 51%, 59%, 1) 13%, rgb(247, 240, 240) 33%);
  background: -moz-linear-gradient(270deg, hsla(196, 51%, 59%, 1) 13%, rgb(247, 240, 240) 33%);
  background: -webkit-linear-gradient(270deg, hsla(196, 51%, 59%, 1) 13%, rgb(247, 240, 240) 33%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#62B0CC", endColorstr="#FFFFFF", GradientType=1 );
  padding: 1.0625rem;
}
.frequently-Questions-container{
  align-items: flex-start;
  gap: 4.5625rem;
}
.img-question img{
  width: 100%;
  aspect-ratio: 7/4;
}
.question-conten-text{
  margin-top: 1.25rem;
}
.question-conten-text .items {
  display: flex;
  align-items: flex-start;
  gap: .625rem;
}
.question-conten-text .items i {
  background-color: var(--blueapagado);
  border-radius: 50%;
  padding: .9375rem;
}
.question-conten-text .items .text-card {
  display: flex;
  flex-direction: column;
  padding: 0 .625rem .625rem .625rem;
}
.items .text-card h4 {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: .3125rem;
}
.accordion h3{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
}
.accordion ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0; 
  gap: .625rem;

  li{
    display: flex;
    flex-direction: column;
    gap: .3125rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    padding: .9375rem;
  }
}
.accordion li{
  border-radius: 1rem;
  position: relative;

  h4{
    margin: 0;
    font-size: 1.125rem;
    font-weight: 700px;
  }
  span{
    margin-left: .375rem;
  }
}
.accordion li::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: .3125rem;
  height: 100%;
  background-color: var(--greenfuer);
  border-top-left-radius: .3125rem;
  border-bottom-left-radius: .3125rem;
  transition: all 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
}
.accordion li.active::after{
  visibility: visible;
  opacity: 1;
}
.accordion li .accordion-content{
  height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease-in-out, visibility 0.6s ease-in-out;

  p{
    font-size: 1.0625rem;
  }
}
.accordion li .accordion-content.active{
  height: auto;
  opacity: 1;
  visibility: visible;
}
